doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        title TaskHub
        
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="TaskHub")
        
        meta(meta name="msapplication-TileColor" content="#3372DF")
        
        link(rel="shortcut icon" href="images/favicon.png")
        
        link(rel='stylesheet' href='fullcalendar/fullcalendar.css')
        script(src='fullcalendar/lib/jquery.min.js')
        script(src='fullcalendar/lib/moment.min.js')
        script(src='fullcalendar/fullcalendar.js')
        
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css")
        link(rel="stylesheet" href="/css/styles.css") 

        script(type="text/javascript").
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    defaultView: 'basicWeek',
                    header: {
                        left: '',
                        center: '',
                        right: ''
                    }
                })

            });
    body
        div(class="th-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header")
            header(class="th-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600")
                div(class="mdl-layout__header-row")
                    span(class="mdl-layout-title") Calendar
                    div(class="mdl-layout-spacer")
                    div(class="mdl-textfield mdl-js-textfield mdl-textfield--expandable")
                        label(class="mdl-button mdl-js-button mdl-button--icon" for="search")
                            i(class="material-icons") search
                        div(class="mdl-textfield__expandable-holder")
                            input(class="mdl-textfield__input" type="text" id="search")
                            label(class="mdl-textfield__label" for="search") Type your issue name
                    button(class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn")
                        i(class="material-icons") more_vert
                    ul(class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn")
                        li(class="mdl-menu__item") Settings
            
            div(class="th-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50")
                header(class="th-drawer-header")
                    img(src=`${USER_PICTURE_LINK}` class="th-avatar")
                    div(class="th-avatar-dropdown")
                        span #{USER_NAME}
                        div(class="mdl-layout-spacer")
                    
                nav(class="th-navigation mdl-navigation mdl-color--blue-grey-800")
                    each rep in REPS
                        div(class="mdl-list__item") <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i> #{rep.name}
                        each issue in rep.issues
                            a(class="mdl-navigation__link" href="#") <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i> #{issue.name} 
                    div(class="mdl-layout-spacer")
                    a(class="mdl-navigation__link" href=`${HELP_PAGE_URL}`) <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span>
            
            main(class="mdl-layout__content mdl-color--grey-100")
                div(id='calendar')
            
            
        script(src="https://code.getmdl.io/1.3.0/material.min.js")
